/*** 

====================================================================
  Blog Aside bar
====================================================================

 ***/
 .blog-details-page aside .sidebar-search-box {
    height: 60px;
    margin-bottom: 55px;
    position: relative;
  }
  .blog-details-page aside .sidebar-search-box input {
    width: 100%;
    height: 100%;
    border:1px solid #dfdfdf;
    padding: 0 67px 0 20px;
  }
  .blog-details-page aside .sidebar-search-box button {
    width: 65px;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    color:#fff;
    font-size: 18px;
  }
  .blog-details-page aside .sidebar-news-list ul li a,
  .blog-details-page aside .sidebar-archives ul li a {
    color:#6f6f6f;
    margin-bottom: 12px;
  }
  .blog-details-page aside .sidebar-news-list ul li a i,
  .blog-details-page aside .sidebar-archives ul li a i {
    margin-right: 8px;
  }
  .blog-details-page aside .sidebar-news-list ul,
  .blog-details-page aside .sidebar-archives ul {
    margin: 32px 0 40px 0;
  }
  #blog-calendar {
    margin: 12px 0 60px 0;
  }
  #blog-calendar .monthly-day, .monthly-day-blank {
    box-shadow: none;
    text-align: center;
  }
  #blog-calendar .monthly-day-title-wrap {
    padding-bottom: 15px;
  }
  .monthly-reset {
    display: none;
  }
  .monthly-header-title {
    font-size: 15px;
    text-transform: capitalize;
  }
  .monthly-header {
    padding: 20px;
    height: 60px;
  }
  .monthly-day-pick > .monthly-day-number {
    font-size: 15px;
    font-weight: normal;
  }
  .recent-single-post .post {
    width: 81%;
    padding-left: 20px;
  }
  .recent-single-post .post a {
    color: #292929;
    margin-bottom: 4px;
  }
  .sidebar-recent-post .recent-single-post {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom:1px solid #dfdfdf;
  }
  .sidebar-recent-post h6,
  .sidebar-tags h6 {
    margin-bottom: 35px;
  }
  .sidebar-recent-post {
    margin-bottom: 40px;
  }
  .sidebar-recent-post .recent-single-post:last-child {
    border: none;
  }
  .sidebar-tags ul li {
    display: inline-block;
    margin: 0 8px 10px 0;
  }
  .sidebar-tags ul li a {
    color:#6f6f6f;
    line-height: 35px;
    padding: 0 12px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
  }