/*** 

====================================================================
  Conatct Form Activation
====================================================================

 ***/
 .alert-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 9999999;
  }
  #success,
  #error {
    position: relative;
    width:500px;
    height: 100px;
    top: calc(50% - 50px);
    left:calc(50% - 250px);
    background: rgba(0,0,0,0.8);
    text-align: center;
  }
  #success .wrapper,
  #error .wrapper {
    display: table;
    width:100%;
    height: 100%;
  }
  #success .wrapper p,
  #error .wrapper p{
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1px;
  }
  #success {
    color: #57D1C9;
  }
  #error {
    color: #C9182B;
  }
  #error button,
  #success button {
    color:#fff;
    width:40px;
    height:40px;
    line-height: 20px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
  }
  .form-validation label.error {
    display: none !important;
  }
  .form-validation input.error,
  .form-validation textarea.error {
    border:1px solid #f03838 !important;
  }