---
title: "Home page"
layout: default
permalink: /
---


{% include slider.html %}


<div class="intro">
    <p>Modelli e percorsi storici per una formazione anti-discriminatoria e una cultura di empowerment femminile nel lavoro.</p>
    <a class="more" href="{{ "/progetto/progetto" | relative_url }}">Di più</a>
</div>

<div id="blog-section">
    <div class="container">
        <div class="theme-title">
            <h2>Ultime novità</h2>
        </div> <!-- /.theme-title -->

        <div class="row mt-5">
            {% for art in site.news %}
            <div class="col-2 col-sm-4">
                <div class="card shadow">
                    <img src="{{ art.img | relative_url }}" alt="Image" class="card-img-top">

                    <div class="card-body">
                    <h5 class="card-title">
                            <a href="{{ art.permalink }}" class="tran4s">
                                {{ art.title }}
                            </a>
                    </h5>
                    <p class="card-text">{{ art.preview }}... </p>
                    <a href="{{ art.permalink }}" class="btn btn-light btn-block">Leggi tutto</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> <!-- /.clearfix -->
    </div> <!-- /.container -->
</div> <!-- /#blog-section -->