---
title: "Home page"
layout: default
permalink: /
---


{% include slider.html %}


<div id="blog-section">
    <div class="container">
        <div class="theme-title">
            <h2>Ultime novità</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div> <!-- /.theme-title -->

        <div class="clear-fix">
            {% for art in site.news %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-news-item">
                    <div class="img">
                        <img src="{{ art.img | relative_url }}" alt="Image">
                        <a href="{{ art.permalink }}" class="opacity tran4s">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                    </div> <!-- /.img -->

                    <div class="post">
                        <h6>
                            <a href="{{ art.permalink }}" class="tran3s">
                                {{ art.title }}
                            </a>
                        </h6>
                        <p>{{ art.preview }}... 
                            <a href="{{ art.permalink }}" class="tran3s">Read More</a>
                        </p>
                    </div> <!-- /.post -->
                </div> <!-- /.single-news-item -->
            </div> <!-- /.col- -->
            {% endfor %}
        </div> <!-- /.clear-fix -->
    </div> <!-- /.container -->
</div> <!-- /#blog-section -->