/*** 

====================================================================
  Our Client
====================================================================

 ***/
#our-client .client-slider {
  text-align: center;
  margin:58px 0 50px 0;
}
#our-client .client-slider img {
  margin: 0 auto;
}
#our-client .client-slider p {
  font-size: 18px;
  line-height: 28px;
  color:#343434;
  width: 80%;
  margin: 33px auto 24px auto;
}
#our-client .client-slider h6 {
  text-transform: capitalize;
  margin-bottom: 45px;
}
#our-client .owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  background: #fff;
  border: 1px solid#9d9f9f;
  margin: 0 5px;
}