/*** 

====================================================================
  Page Middle Banner
====================================================================

 ***/
 .page-middle-banner {
    background: url(../images/home/1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 70px;
  }
  .page-middle-banner .opacity {
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 134px 0 137px 0;
  }
  .page-middle-banner .opacity h3 {
    color: #fff;
    margin-bottom: 25px;
  }
  .page-middle-banner .opacity a {
    width: 200px;
    line-height: 45px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    border-width:1px;
  }