/*** 

====================================================================
  Blog Details Post
====================================================================

 ***/
 .blog-details-post-wrapper {

  &>h6 {
    margin: 23px 0 28px 0;
    text-transform: none;
  }

  &>.row {
    margin-top: 35px;
    margin-bottom: 25px;

    p {
      font-style: italic;
      color:#292929;
      padding-left: 18px;

      i {
        color:#9d9f9f;
        margin: 0 4px;

        &.fa-quote-left {
          margin-left: -16px;
        }
      }
    }
  }
  
  .post-heading {
    padding-bottom: 25px;
    border-bottom: none;
    margin-bottom: 25px;
    margin-top: 5rem;

    h4{
      margin: 53px 0 13px 0;
      text-transform: none;
    }

    img{
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 5rem;
    }
  }

 } // .blog-details-post-wrapper
