/*** 

====================================================================
  Footer
====================================================================

 ***/
 
footer {
    margin: 100px 0 0 0;
    background: #1e1e1e;
    padding: 60px 0 25px 0;
    text-align: center;

    .logo {
        margin-bottom: 20px;
    }

    p {
        color:#fff;
        font-size: 15px;
        margin-top: 50px;
    }

    ul li {
        display: inline-block;
        margin-top: 13px;

        a {
            width: 45px;
            line-height: 45px;
            font-size: 18px;
            margin: 0 7px;
            border:1px solid transparent;

            &:hover {
                color:#fff !important;
            }
        }

        &:nth-child(1) a {
            color: #677fb5;
            border-color:#677fb5;
            &:hover {
                background: #677fb5;
            }
        }
        &:nth-child(2) a {
            color: #70c2e9;
            border-color:#70c2e9;
            &:hover {
                background: #70c2e9;
            }
        }
        &:nth-child(3) a {
            color: #d8545d;
            border-color:#d8545d;
            &:hover {
                background: #d8545d;
            }
        }
        &:nth-child(4) a {
            color: #007ab9;
            border-color:#007ab9;
            &:hover {
                background: #007ab9;
            }
        }
        &:nth-child(5) a {
            color: #5ecbf3;
            border-color:#5ecbf3;
            &:hover {
                background: #5ecbf3;
            }
        }
        &:nth-child(6) a {
            color: #ff3ba4;
            border-color:#ff3ba4;
            &:hover {
                background: #ff3ba4;
            }
        }
        &:nth-child(7) a {
            color: #e299c2;
            border-color:#e299c2;
            &:hover {
                background: #e299c2;
            }
        }
        &:nth-child(8) a {
            color: #faaa5e;
            border-color:#faaa5e;
            &:hover {
                background: #faaa5e;
            }
        }
    }
}
