.gallery{
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid $red;

    .caption{
        border-top: 1px dotted $red;
        font-size: 14px;
        padding-top: 1rem;
        margin-top: 1rem;
    }
}
