
/*** 
====================================================================
  Global Settings
====================================================================

 ***/

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color:#6f6f6f;
    position: relative;
    font-size: 1.2rem;
}

.main-page-wrapper {
    overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#292929; 
    text-transform: uppercase;
    font-weight: 700;
}

a {
    text-decoration: none; 
    display: inline-block;
    
    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
        outline: none;
    }
}

img {
    max-width: 100%; 
    display: block;
}

.tran4s,
#team-section .team-member-wrapper .single-team-member .member-name h6,
#team-section .team-member-wrapper .single-team-member .member-name p
{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.theme-title {
    text-align: center;
    margin: 95px 0 0 0;

    h2 {
        position: relative;

        &:before {
            content: '';
            width: 25px;
            height: 3px;
            position: absolute;
            bottom: -25px;
            left: 50%;
            margin-left: -12px;
        }
    }

    p {
        font-size: 16px;
        width: 75%;
        margin: 60px auto 0 auto;
    }
}

.p-color,
#blog-section .single-news-item .img a,
#blog-section .single-news-item:hover .post p a,
#blog-section .single-news-item .post h6:hover a {
    color:$red;
}

.p-color-bg,
.theme-title h2:before {
    background: $red;
}