/*** 

====================================================================
  Inner Page Banner 
====================================================================

 ***/
.inner-page-banner {
    background: url(../images/css/header.jpg) no-repeat center;
    background-size: cover;
    text-align: center;

    .opacity {
        height: 100%;
        background:rgba(0,0,0,0.5);
        padding: 146px 0 70px 0;

        h2 {
            color:#fff;
            margin-bottom: 18px;
            text-shadow: 0 0 20px #d73e4d;
        }
    }
}
