.theme-main-header{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 999;
    padding-top: 20px;
    font-family: Raleway, sans-serif;
    font-size: .8rem;
    font-weight: 600;

    nav.navbar{
        a{
            text-transform: uppercase;
            color: #ffffff;
        }
        .dropdown-menu{
            background: rgba(#000000, .6);
            padding: 1rem;
            font-size: .8rem;

            a{
                margin-top: .8rem;
            }
        }
        
        
    }
}