/*** 

====================================================================
  Skill Section
====================================================================

 ***/
 #skill-section {
    background: #232a34;
    margin-top: 70px;
  }
  #skill-section .img {
    overflow: hidden;
  }
  #skill-section:hover .img img {
    opacity: 0.6;
  }
  .habilidades_contenedor {
    width:100%;
    margin: 125px 0 0 0;
  }
  #skill-section .codeconSkillbar .codeconSkillArea {
    font-weight: 700;
    font-size: 15px;
    color:#fff;
    margin-bottom: 15px;
    float: none;
    margin: 0;
  }
  #skill-section .codeconSkillbar {
    box-shadow: none;
    height:30px;
    width:100%;
    background: #fff;
    border-radius: 0;
    overflow: visible;
    position: relative;
    margin: 0 0 38px 0;
  }
  #skill-section .codeconSkillbar .skill-text {
    position: absolute;
    top:-29px;
    left:0;
  }
  #skill-section .codeconSkillbar .skillBar {
    box-shadow: none;
    height: 100%;
  }
  #skill-section .codeconSkillbar .PercentText {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top:-39px;
    left:98%;
    padding: 0;
    float:none;
  }