/*** 

====================================================================
  Team Section
====================================================================

 ***/
 #team-section .team-member-wrapper {
    margin: 60px 0 0 0;
  }
  #team-section .team-member-wrapper .float-left {
    width: 33.333333333%;
    padding: 0 15px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  #team-section .team-member-wrapper .single-team-member,
  #team-section .team-member-wrapper .single-team-member .img {
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  #team-section .team-member-wrapper .single-team-member .img .opacity {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(230,230,230,0.9);
    padding: 55px 0 20px 0;
    opacity: 0;
    -webkit-transform: scale(1,0);
       -moz-transform: scale(1,0);
        -ms-transform: scale(1,0);
         -o-transform: scale(1,0);
            transform: scale(1,0);
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform-origin: 0% 0%;
  }
  #team-section .team-member-wrapper .single-team-member .img .opacity h4,
  #team-section .team-member-wrapper .single-team-member .img .opacity span {
    color:#696f78;
    text-transform: capitalize;
  }
  #team-section .team-member-wrapper .single-team-member .img .opacity h4 {
    line-height: 40px;
    padding: 0 18px;
    border-width: 1px;
    display: inline-block;
  }
  #team-section .team-member-wrapper .single-team-member .img .opacity span {
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin: 22px 0 15px 0;
  }
  #team-section .team-member-wrapper .single-team-member .img .opacity p {
    color: #373a3f;
    padding: 0 40px;
  }
  #team-section .team-member-wrapper .single-team-member .img .opacity h4,
  #team-section .team-member-wrapper .single-team-member .img .opacity span,
  #team-section .team-member-wrapper .single-team-member .img .opacity p {
    opacity: 0;
    -webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
  }
  #team-section .team-member-wrapper .single-team-member:hover .img .opacity {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  #team-section .team-member-wrapper .single-team-member:hover .img .opacity h4,
  #team-section .team-member-wrapper .single-team-member:hover .img .opacity span,
  #team-section .team-member-wrapper .single-team-member:hover .img .opacity p {
    opacity: 1;
  }
  #team-section .team-member-wrapper .single-team-member .member-name {
    background: #e6e6e6;
    overflow: hidden;
    position: relative;
    min-height: 70px;
  }
  #team-section .team-member-wrapper .single-team-member .member-name h6 {
    text-transform: none;
    color:#696f78;
    margin-top: 12px;
  }
  #team-section .team-member-wrapper .single-team-member .member-name p {
    color:#373a3f;
    margin: 5px 0 8px 0;
  }
  #team-section .team-member-wrapper .single-team-member:hover .member-name h6,
  #team-section .team-member-wrapper .single-team-member:hover .member-name p {
    visibility: hidden;
    -webkit-transform: translate3D(0,-100px,0);
       -moz-transform: translate3D(0,-100px,0);
        -ms-transform: translate3D(0,-100px,0);
         -o-transform: translate3D(0,-100px,0);
            transform: translate3D(0,-100px,0);
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li {
    display: inline-block;
    margin-top: 13px;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li a {
    width: 47px;
    line-height: 45px;
    font-size: 18px;
    margin: 0 7px;
    border:1px solid transparent;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(1) a,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(2) a {
    color: #677fb5;
    border-color:#677fb5;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(2) a,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(3) a {
    color: #70c2e9;
    border-color:#70c2e9;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(3) a,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(4) a {
    color: #d8545d;
    border-color:#d8545d;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(4) a,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(5) a {
    color: #007ab9;
    border-color:#007ab9;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(1) a:hover,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(2) a:hover {
    background: #677fb5;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(2) a:hover,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(3) a:hover {
    background: #70c2e9;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(3) a:hover,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(4) a:hover {
    background: #d8545d;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(4) a:hover,
  .blog-details-post-wrapper .post-share-area .share-icon li:nth-child(5) a:hover {
    background: #007ab9;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul li a:hover {
    color:#fff !important;
  }
  #team-section .team-member-wrapper .single-team-member .member-name ul {
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    -webkit-transform: translate3D(0,100px,0);
       -moz-transform: translate3D(0,100px,0);
        -ms-transform: translate3D(0,100px,0);
         -o-transform: translate3D(0,100px,0);
            transform: translate3D(0,100px,0);
  }
  #team-section .team-member-wrapper .single-team-member:hover .member-name ul {
    -webkit-transform: translate3D(0,0,0);
       -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
         -o-transform: translate3D(0,0,0);
            transform: translate3D(0,0,0);
  }