---
layout: default
---
<div class="main-page-wrapper">



    <!--
    =====================================================
        Theme Inner page Banner
    =====================================================
    -->
    <section class="inner-page-banner">
        <div class="opacity">
            <div class="container">
                {% if page.title %}
                    <h2>{{ page.title }}</h2>
                    <p class="sub-title">{{ site.title }}</p>
                {% else %}
                    <h2>{{ site.title }}</h2>
                {% endif %}
                
                
            </div> <!-- /.container -->
        </div> <!-- /.opacity -->
    </section> <!-- /.inner-page-banner -->
    

    
    <article class="blog-details-page">
        <div class="container">
            <div class="col-12 col-md-8 p-fix">
                <div class="blog-details-post-wrapper">
                    <div class="post-heading">
                        {% if page.img %}
                            <img src="{{ page.img | relative_url }}" alt="{{ page.title }}">
                        {% endif %}
                    </div>
                    

                    
                    {{ content }}
                </div>
                
                {% assign gallery = page.permalink | split: "/" | last %}

                {% include gallery.html gallery=gallery %}
            </div>
        </div>
    </article>
</div>
