---
layout: default
---
<div class="main-page-wrapper">



    <!--
    =====================================================
        Theme Inner page Banner
    =====================================================
    -->
    <section class="inner-page-banner">
        <div class="opacity">
            <div class="container">
                <h2>{{ site.title }}</h2>
            </div> <!-- /.container -->
        </div> <!-- /.opacity -->
    </section> <!-- /.inner-page-banner -->
    
    {{ content }}
    
</div>
